
/* Geral do projeto */

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(235, 227, 186, 0.788);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cabeçalho Index */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 15vh;
    margin-bottom: auto;
}

a {
    color: brown;
    letter-spacing: 0.1rem;
    margin: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: rgb(250, 1, 204);
    text-decoration: underline;
}

/* sessão Index */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem;
}
h1, h2 {
    margin: 4rem;
    color: rgb(133, 68, 121);
    display: flex;
    justify-content: center;
}

span {
    text-transform: uppercase;
    color: rgb(133, 68, 121);
}



.index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* -------------------------- SEMANAS --------------------------- */

input {
    width: 30rem;
    padding: 1.2rem;
    border: none;
    border-radius: 1rem; 
    margin-bottom: 0; 
    color: rgb(133, 68, 121);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8), 10px 10px 20px rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    font-size: 1.2rem;
}

button {
    width: 10rem;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: rgb(133, 68, 121);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8), 10px 10px 20px rgba(0, 0, 0, 0.8);
    color: rgba(235, 227, 186, 0.788);
    margin-left: 1rem;
    margin-bottom: 0;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.campoSemana {
    display: flex;
    justify-content: center;
    align-items: center;
}

.respostas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: auto;
    border: #fff;
    border-radius: 1rem;
    font-size: 1rem;
    color: rgba(235, 227, 186, 0.788);
    background-color: rgb(133, 68, 121);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8), 10px 10px 20px rgba(0, 0, 0, 0.8);
    width: 50rem;
    height: 30vh;
    margin-top: 0;
    margin-bottom: 1rem;
}

.respostasEnxoval {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: auto;
    border: #fff;
    border-radius: 1rem;
    font-size: 1rem;
    color: rgba(235, 227, 186, 0.788);
    background-color: rgb(133, 68, 121);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8), 10px 10px 20px rgba(0, 0, 0, 0.8);
    width: 20rem;
    height: 10vh;
    margin-top: 0;
    margin-bottom: 1rem;
}

.respostas p{
    margin-top:  0;
}


footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: #fff;
    width: 100%;
    height: 10vh;
}

@media (max-width: 768px) {

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.2rem;
        margin-bottom: 0.1rem;
        flex-direction: column;
    }

    h1 {
        font-size: 2rem; /* Tamanho da fonte em telas menores */
        letter-spacing: 0.2rem; /* Espaçamento entre letras em telas menores */
    }

    section input {
        width: 25rem; /* Largura dos inputs em telas menores */
        padding: 0.8rem; /* Espaçamento interno em telas menores */
    }

    section button {
        margin-top: 1rem;
        padding: 0.6rem 1rem; /* Espaçamento interno do botão em telas pequenas */
        font-size: 0.9rem; /* Tamanho da fonte do botão em telas pequenas */
    }

    .resultados-pesquisa, .respostas {
        width: 40rem; /* Largura da caixa de resultados em telas menores */
        height: 40vh; /* Altura da caixa de resultados em telas menores */
    }

}

/* Responsividade para celulares */
@media (max-width: 480px) {

    h1 {
        font-size: 1.8rem; /* Tamanho da fonte em telas pequenas */
        letter-spacing: 0.1rem; /* Espaçamento entre letras em telas pequenas */
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5rem;
        margin-bottom: 0.1rem;
        flex-direction: column;
    }

    section input {
        width: 17rem; /* Largura total dos inputs em telas pequenas */
    }

    section button {
        margin-top: 1rem;
        padding: 0.6rem 1rem; /* Espaçamento interno do botão em telas pequenas */
        font-size: 0.9rem; /* Tamanho da fonte do botão em telas pequenas */
    }

    .resultados-pesquisa, .respostas {
        width: 90%; /* Largura da caixa de resultados em telas pequenas */
        height: 50vh; /* Altura da caixa de resultados em telas pequenas */
    }

    .item-resultado h2 {
        font-size: 1.1rem; /* Tamanho da fonte dos títulos em telas pequenas */
    }

    footer {
        font-size: 0.9rem; /* Tamanho da fonte do rodapé em telas pequenas */
    }
}